* {
  margin: 0;
  padding: 0;
}

body {
  background: url(https://c8.alamy.com/comp/CBP977/young-indian-boys-bathing-in-the-waters-of-lake-pichola-udaipur-rajasthan-CBP977.jpg);
  background-size: 330px 600px;
}
