* {
  margin: 0;
  padding: 0;
}

body {
  background: url(https://wallpapercrafter.com/desktop6/1524543-Malazan-Malazan-Book-of-the-Fallen-Rhulad-Sengar.jpg);
  background-size: 800px 600px;
}

.character {
  background-image: url(../image/midevilHeor.gif);
  background-size: 40px 70px;
  height: 70px;
  width: 40px;
  position: absolute;
  bottom: 0;
}
